<div class="text-white d-flex justify-content-center align-items-center p-3 w-100 mt-4 mb-0" style="background-color: black;">
    <h5 class="m-0"> &copy Aplicación creada por Jose Manuel Prados Morente </h5>
</div>